@use 'style/theme';
@use 'style/splitter';
@use 'style/sidebar';
@use 'style/bottompanel';

.debug-parent {
  position: relative;
  height: 0;
  top: 50%;
}
.debug-dimensions {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  line-height: 0.8;
  left: 50%;

  &.width {
    border-top: 1px solid red;
  }

  &.height {
    border-left: 1px solid red;
  }
}

.editor-frame {
  display: flex;
}

.editor-and-tools-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  flex-grow: 1;
}

.editor-main {
  flex-grow: 1;
  position: relative;
}

// ===== ACCESSIBILITY ENHANCEMENTS =====
// Support reduced motion preferences
@media (prefers-reduced-motion: reduce) {
  .collapse-button,
  .collapse-icon {
    transition-duration: 0.1s;
  }
}

// High contrast mode support
@media (prefers-contrast: high) {
  .collapse-button {
    border-width: 2px;
    box-shadow: 0 0 0 1px var(--foreground);
  }
}