@keyframes pulse {
  0% {
    stroke: rgba(0, 0, 0, 0);
  }
  50% {
    stroke: rgb(0, 0, 0);
  }
  100% {
    /* fill: rgb(0,222,255); */
    stroke: rgba(0, 0, 0, 0);
  }
}

body {
  margin: 0;
  /* overflow-y: hidden; */
}
textarea {
  transition: background-color 0.35s ease;
}
textarea:focus {
  outline: none;
  background-color: lightgrey;
}
.state-node {
  fill: rgb(0,222,255);
  transition: all 0.25s ease;
}
.state-node:hover {
  animation: pulse 1.25s ease-in-out infinite;
  fill: rgb(9, 255, 0);
  cursor: pointer;
}
#reset-zoom rect {
  fill: rgba(255, 255, 255, 0.8);
  transition: all 0.25s ease;
}
#reset-zoom rect:hover {
  fill: gray;
  cursor: pointer;
}
#reset-zoom text {
  pointer-events: none;
}