@use 'style/theme';
@use 'style/splitter';
@use 'style/sidebar';
@use 'style/bottompanel';
@use 'style/graph';
@use 'style/panning';
@use 'style/connection-editor';

.debug {
  z-index: 250;
  pointer-events: none;
  user-select: none;

  .dimensions-parent {
    position: relative;
    height: 0;
    top: 50%;
    opacity: 0.35;

    & > .dimensions {
      position: absolute;
      transform: translate(-50%, -50%);
      line-height: 0.8;
      left: 50%;
    
      &.width {
        border-top: 1px solid red;
      }
    
      &.height {
        border-left: 1px solid red;
      }
    }
  }

  .gv-size {
    position: absolute;
    left: 10px;
    top: 10px;
    color: var(--red);
    font-size: 12px;
    font-weight: bold;
  }

  .interactionsdict {
    position: absolute;
    bottom: 10px;
    left: 30px;
    color: var(--red);
    font-size: 12px;
    font-weight: bold;
  }
}

// ===== Borders, for debugging dimensions =====
// svg {
  // border: solid 2px red;
  // max-width: 100%;
  // height: auto;
// }

// .editor-main {
//   border: solid 2px green;

//   & * {
//     opacity: 0.8;
//   }
// }

// .editor-and-tools-panel {
//   border: solid 2px orange;
//   & * {
//     opacity: 0.8;
//   }
// }

// .editor-frame {
//   border: solid 2px yellow;
//   & * {
//     opacity: 0.8;
//   }
// }

.editor-frame {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.editor-and-tools-panel {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  flex-grow: 1;
}

.editor-main {
  flex-grow: 1;
  position: relative;
}


// ===== Graph Drawing =====
rect.undo {
  fill: var(--comment);
  fill-opacity: 0.7;
}

rect.undo.current {
  stroke-width: 1.25;
  stroke: var(--comment);
}

rect.redo {
  fill: var(--comment);
  fill-opacity: 0.7;
}

// ===== ACCESSIBILITY ENHANCEMENTS =====
// Support reduced motion preferences
@media (prefers-reduced-motion: reduce) {
  .collapse-button,
  .collapse-icon {
    transition-duration: 0.1s;
  }
}

// High contrast mode support
@media (prefers-contrast: high) {
  .collapse-button {
    border-width: 2px;
    box-shadow: 0 0 0 1px var(--foreground);
  }
}

// ========= ERRORS ==========
.error {
  &.graph-not-loaded {
    background-color: var(--red);
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}



.modal {
  background-color: var(--background-lighter);
  padding: 10px;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  position: relative;
}

