@keyframes pulse {
  0% {
    stroke: rgba(0, 0, 0, 0);
  }
  50% {
    stroke: rgb(0, 0, 0);
  }
  100% {
    /* fill: rgb(0,222,255); */
    stroke: rgba(0, 0, 0, 0);
  }
}

body {
  margin: 0;
  /* overflow-y: hidden; */
}
textarea {
  transition: background-color 0.35s ease;
}
textarea:focus {
  outline: none;
  background-color: lightgrey;
}
.state-node {
  fill: rgb(0,222,255);
  transition: all 0.25s ease;
}
.phantom-state-node {
  stroke: rgb(102, 102, 102);
}
.phantom-link {
  stroke: rgb(102, 102, 102);
}
.state-node:hover {
  animation: pulse 1.25s ease-in-out infinite;
  fill: rgb(9, 255, 0);
  cursor: pointer;
}
.state-node.selected {
  fill: rgb(255, 0, 179)
}
.state-node.disconnected {
  fill: rgba(110, 110, 110, 0.7)
}
.state-node.disconnected:hover {
  animation: none;
  fill: rgba(60, 60, 60, 0.7);
  cursor: not-allowed;
}
/* #reset-view rect {
  fill: rgba(255, 255, 255, 0.8);
  transition: all 0.25s ease;
}
#reset-view rect:hover {
  fill: gray;
  cursor: pointer;
}
#reset-view text {
  pointer-events: none;
} */
path.link {
  pointer-events: none;
}
.transition-chooser-key {
  transition: all 0.3s ease;
  fill: rgb(170, 170, 170);
}
.transition-chooser-key:hover, .transition-chooser-key.selected:hover, .transition-chooser-key.selected.terminal:hover {
  fill:rgb(157, 255, 0)
}
.transition-chooser-key.terminal.selected {
  fill: orange;
  stroke: black;
}
.transition-chooser-key.terminal + text {
  font-weight: bold;
}
.transition-chooser-key.selected {
  fill:rgb(238, 255, 0);
  stroke: darkgray;
}

rect.splitter-box {
  transition: all 0.2s linear;
}

path.link.background {
  stroke-width: 5;
  stroke: rgb(211, 215, 207); /* the "background" color */

}
text tspan.final {
  font-weight:  bold;
  fill: darkorange; /* the "final" color */
  stroke-width: 4;
  stroke: rgb(211, 215, 207); /* the "background" color */
}
text tspan.nonfinal {
  fill: rgb(64, 64, 64); /* the "nonfinal" color */
  stroke-width: 4;
  stroke: rgb(211, 215, 207); /* the "background" color */
}
path.link + text:hover tspan {
  stroke-width: 4;
  stroke: rgb(131, 216, 46); /* the "background" color */
  background-color: red;
  cursor: pointer;
}

rect.undo.current {
  stroke-width: 1.25;
  stroke: grey;
}

rect.redo {
  fill: gray;
  fill-opacity: 0.7;
}

.start {
  fill: black;
  stroke-width: 2px;
  stroke: blue;
}